  <div>
    <div class="submit-form">
      <form [formGroup]="collaborateurForm" (ngSubmit)="saveCollaborateur()">
        <div *ngIf="!submitted">
          <div class="form-group">
            <label for="profilCollab">ProfilCollab</label>
            <select formControlName="profilCollab" class="form-control" id="profilCollab" required>
              <option *ngFor="let profilCollab of profilsCollab" [value]="profilCollab.id_profil_collab">{{ profilCollab.nom_profil_collab }}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="equipe">Equipe</label>
            <select formControlName="equipe" class="form-control" id="equipe" required>
              <option *ngFor="let equipe of equipes" [value]="equipe.id_equipe">{{ equipe.nom_equipe }}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              required
              (change)="checkEmailExistence()"
            />
            <!-- Affiche le message d'erreur si l'e-mail existe déjà ou n'est pas valide -->
            <div *ngIf="collaborateurForm.get('email').hasError('required') && collaborateurForm.get('email').touched" class="text-danger">
              L'adresse email est requise.
            </div>
            <div *ngIf="collaborateurForm.get('email').hasError('email') && collaborateurForm.get('email').touched" class="text-danger">
              L'adresse email n'est pas valide.
            </div>
            <!-- <div *ngIf="collaborateurForm.get('email').hasError('gmail') && collaborateurForm.get('email').touched" class="text-danger">
              L'adresse email doit se terminer par "@gmail.com".
            </div> -->
            <div *ngIf="emailExists" class="text-danger">L'adresse email existe déjà.</div>
          </div>
  
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" id="username" required />
          </div>
  
          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
              <input
                type="{{ hidePassword ? 'password' : 'text' }}"
                formControlName="password"
                class="form-control"
                id="password"
                required
              />
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                  <i class="fa" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
                </button>
              </div>
            </div>
            <div *ngIf="collaborateurForm.get('password').hasError('minlength')" class="text-danger">
              Le mot de passe doit contenir au moins 6 caractères.
            </div>
          </div>
          
  
          <!-- Bouton de soumission (désactivé tant que le formulaire est invalide) -->
          <button type="submit" class="btn btn-success" [disabled]="collaborateurForm.invalid || emailExists">Submit</button>

  
          <!-- Message d'erreur pour les champs obligatoires manquants -->
          <div *ngIf="collaborateurForm.hasError('required') && collaborateurForm.touched" class="text-danger">
            Tous les champs sont obligatoires.
          </div>
        </div>
      </form>
  
      <div *ngIf="submitted">
        <h4>Collaborateur was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newCollaborateur()">Add</button>
      </div>
    </div>
  </div>
  
  