<!-- <div *ngIf="viewMode; else editable">
  <div *ngIf="currentCollaborateur?.id_collab">
    <h4>Collaborateur</h4>
    <div>
      <label><strong>ProfilCollab:</strong></label> {{ currentCollaborateur.profilCollab.nom_profil_collab }}
    </div>
    <div>
      <label><strong>Equipe:</strong></label>
      {{ currentCollaborateur.equipe.nom_equipe }}
    </div>
    <div>
      <label><strong>Email:</strong></label>
      {{ currentCollaborateur.email }}
    </div>
    <div>
      <label><strong>Username:</strong></label>
      {{ currentCollaborateur.username }}
    </div>
    <div>
      <label><strong>Password:</strong></label>
      {{ currentCollaborateur.password }}
    </div>

    <a class="badge bg-warning" [routerLink]="['/collaborateurs/',currentCollaborateur.id_collab]">
      Edit
    </a>
  </div>

  <div *ngIf="!currentCollaborateur">
    <br />
    <p>Please click on a Collaborateur...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentCollaborateur?.id_collab" class="edit-form">
    <h4>Collaborateur</h4>
    <form>
      <div class="form-group">
        <label for="profilCollab">ProfilCollab</label>
        <select class="form-control" id="profilCollab" [(ngModel)]="currentCollaborateur.profilCollab.id_profil_collab" name="profilCollab">
          <option *ngFor="let profilCollab of profilCollabs" [value]="profilCollab.id_profil_collab">{{ profilCollab.nom_profil_collab }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="equipe">Equipe</label>
        <select class="form-control" id="equipe" [(ngModel)]="currentCollaborateur.equipe.id_equipe" name="equipe">
          <option *ngFor="let equipe of equipes" [value]="equipe.id_equipe">{{ equipe.nom_equipe }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="currentCollaborateur.email" name="email" />
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="currentCollaborateur.username" name="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="currentCollaborateur.password" name="password" />
      </div>

      <button class="badge bg-danger mr-2" (click)="deleteCollaborateur()">
        Delete
      </button>

      <button type="submit" class="badge bg-success mb-2" (click)="updateCollaborateur()">
        Update
      </button>
      <p>{{ message }}</p>
    </form>

    <div *ngIf="!currentCollaborateur?.id_collab">
      <br />
      <p>Cannot access this Collaborateur...</p>
    </div>
  </div>
</ng-template>

      -->

      <div *ngIf="viewMode; else editable">
        <div *ngIf="currentCollaborateur?.id_collab">
          <h4>Collaborateur</h4>
          <div>
            <label><strong>ProfilCollab:</strong></label> {{ currentCollaborateur.profilCollab.nom_profil_collab }}
          </div>
          <div>
            <label><strong>Equipe:</strong></label> {{ currentCollaborateur.equipe.nom_equipe }}
          </div>
          <div>
            <label><strong>Email:</strong></label> {{ currentCollaborateur.email }}
          </div>
          <div>
            <label><strong>Username:</strong></label> {{ currentCollaborateur.username }}
          </div>
          <div>
            <label><strong>Password:</strong></label> {{ currentCollaborateur.password }}
          </div>
      
          <a class="badge bg-warning" [routerLink]="['/collaborateurs/', currentCollaborateur.id_collab]">
            Edit
          </a>
        </div>
      
        <div *ngIf="!currentCollaborateur">
          <br />
          <p>Please click on a Collaborateur...</p>
        </div>
      </div>
      
      <ng-template #editable>
        <div *ngIf="currentCollaborateur?.id_collab" class="edit-form">
          <h4>Collaborateur</h4>
          <form>
            <div class="form-group">
              <label for="profilCollab">ProfilCollab</label>
              <select class="form-control" id="profilCollab" [(ngModel)]="currentCollaborateur.profilCollab.id_profil_collab" name="profilCollab">
                <option *ngFor="let profilCollab of profilCollabs" [value]="profilCollab.id_profil_collab">{{ profilCollab.nom_profil_collab }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="equipe">Equipe</label>
              <select class="form-control" id="equipe" [(ngModel)]="currentCollaborateur.equipe.id_equipe" name="equipe">
                <option *ngFor="let equipe of equipes" [value]="equipe.id_equipe">{{ equipe.nom_equipe }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" [(ngModel)]="currentCollaborateur.email" name="email" (blur)="checkEmailExistence(currentCollaborateur.email.toString())" />
              <div *ngIf="emailExists" class="text-danger">L'adresse email existe déjà.</div>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="currentCollaborateur.username" name="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="currentCollaborateur.password" name="password" />
            </div>
      
            <button class="badge bg-danger mr-2" (click)="deleteCollaborateur()">
              Delete
            </button>
      
            <!-- Bouton de soumission (désactivé tant que l'e-mail existe ou formulaire invalide) -->
            <button type="submit" class="badge bg-success mb-2" (click)="updateCollaborateur()" [disabled]="emailExists">Update</button>
            <p>{{ message }}</p>
          </form>
      
          <div *ngIf="!currentCollaborateur?.id_collab">
            <br />
            <p>Cannot access this Collaborateur...</p>
          </div>
        </div>
      </ng-template>
      